.navbar {
  display: flex;
  justify-content: end;
  gap: 75px;
}

.nav {
  padding-top: 27px;
  padding-bottom: 27px;
}

li {
  list-style: none;
  font-family: Heebo;
  font-size: 20px;
  font-weight: 500;
  line-height: 29.38px;
  text-align: right;
  color: #000000;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  gap: 10px;
}

.hero_page {
  margin-bottom: 70px;
  margin-top: 140px;
}

.hero h1 {
  font-family: Heebo;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  color: #21243d;
}

.hero p {
  font-family: Heebo;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5px;
  text-align: left;
  color: #21243d;
  margin: 40px 0;
  max-width: 500px;
}

.btn-resume {
  background: #ff6464;
  font-family: Heebo;
  font-size: 20px;
  font-weight: 500;
  line-height: 29.38px;
  text-align: left;
  padding: 9px 20px;
  border: none;
  outline: none;
  border-radius: 2px;
  color: #fff;
}

.footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 54px;
}

.footer_images img {
  margin-right: 35px;
  margin-bottom: 25px;
}

.footer p {
  font-family: Heebo;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.56px;
  text-align: center;
  color: #21243d;
}

@media (max-width: 575px) {
  .hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 10px;
  }

  .hero_page {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .btn-resume {
    margin-bottom: 40px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .hero-img {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .hero h1 {
    text-align: center;
    color: #21243d;
  }
}
