.navbar {
  display: flex;
  justify-content: end;
  gap: 75px;
}

.nav {
  padding-top: 27px;
  padding-bottom: 27px;
}

li {
  list-style: none;
  font-family: Heebo;
  font-size: 20px;
  font-weight: 500;
  line-height: 29.38px;
  text-align: right;
  color: #000000;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  gap: 10px;
}

.hero_page {
  margin-bottom: 70px;
  margin-top: 140px;
}

.hero h1 {
  font-family: Heebo;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  color: #21243d;
}

.hero p {
  font-family: Heebo;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5px;
  text-align: left;
  color: #21243d;
  margin: 40px 0;
  max-width: 500px;
}

.btn-resume {
  background: #ff6464;
  font-family: Heebo;
  font-size: 20px;
  font-weight: 500;
  line-height: 29.38px;
  text-align: left;
  padding: 9px 20px;
  border: none;
  outline: none;
  border-radius: 2px;
  color: #fff;
}

.footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 54px;
}

.footer_images img {
  margin-right: 35px;
  margin-bottom: 25px;
}

.footer p {
  font-family: Heebo;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.56px;
  text-align: center;
  color: #21243d;
}

@media (max-width: 575px) {
  .hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 10px;
  }

  .hero_page {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .btn-resume {
    margin-bottom: 40px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .hero-img {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .hero h1 {
    text-align: center;
    color: #21243d;
  }
}

.gamburger-menu {
  display: none;
}

@media (max-width: 600px) {
  .gamburger-menu {
    display: block;
    background: none;
    border: none;
  }

  .navbar {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .hero_page {
    margin-top: 150px;
  }
}

.dropdown-menu {
  position: absolute;
  top: 70px;
  width: 70%;
  right: 0;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
  list-style: none;
  padding: 15px 0;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #ff6464;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
